.headButton{
    margin-right: 15px;
}
.headButtonn{
    margin-right: 30px;
    margin-left: 20px;
}
.header{
    width: 1920px;
    height: 80px;
    background: #222629;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    padding-left: 100px;
    z-index: 160;
}
.ul{
    display: flex;
    margin-left: 70px;
}
.li{
    display: block;
}
.button{
    width: 120px;
    height: 30px;
    border: 1px solid #86C232;
    border-radius: 17px;
    background-color: #222629;
    color: #86C232;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
}
.profileButton{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;

}
.profileLogo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.basketLogo{
    width: 60px;
    height: 60px;
}
.basketButton{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
}
.buttonGo{
    width: 120px;
    height: 25px;
    border: 1px solid #86C232;
    border-radius: 17px;
    background-color: #222629;
    color: #86C232;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}
.buttonGoo{
    width: 120px;
    height: 25px;
    border: 1px solid #86C232;
    border-radius: 17px;
    background-color: #222629;
    color: #86C232;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
}
.buttonReg{
    width: 120px;
    height: 25px;
    border: 1px solid #86C232;
    border-radius: 17px;
    background-color: #222629;
    color: #86C232;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
    margin-left: 5px;
}
.buttonOut{
    width: 120px;
    height: 25px;
    border: 1px solid #86C232;
    border-radius: 17px;
    background-color: #222629;
    color: #86C232;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
    margin-left: 5px;
}
.auth{
    display: block;
}
.profile{
    display: flex;

}
.prof{
    margin-top: 7px;
}
.log{
    margin-left: 30px;
}

