.itemPrice{
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 49px;
    color: #86C232;
    margin-left: 200px;
}
.itemName{
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-top: 10px;
}
.itemContent{
    padding-top: 100px;
    background-color: #161A1D;
    padding-bottom: 20px;
}